.item { 
  display: grid;
  grid-template-columns: 50px 1fr 30px 30px;
  column-gap: 5px;
  align-items: center;

}

.completed {
  text-decoration: line-through;
}

.trashButton {
  padding: 5px;
  margin: 0;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.checkbox {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
